:root {
    --primary-color:rgb(94, 239, 217);
    --secondary-color: rgb(94, 239, 217);
    --hover-color: #897e7e;
    
    --primary-text: 'Arial', sans-serif;
    --heading-font: 'Georgia', serif;
    
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 24px;
  }




body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    position:fixed;
    width: 100%;
    z-index: 10000000;
    
}

.header1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left:3%;
    z-index: 1000000;
}
header img{
    width: 50px;
}

.header1 div h2 {
    margin-bottom: 2%;
}

.header1 div p {
    margin-top: 0;
}

nav{
    
    margin-right: 10%;
   
}
nav ul li {
    list-style-type: none;
    padding: 3%;
}
nav ul li:hover{
    background-color: var(--hover-color);
}

nav ul li a {
    text-decoration: none;
    color: rgb(53, 53, 50);
    
}
.header2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;

    
}
.header2 img{
    padding-left: 10%;
}
.menu{
    display: none;
}
.hamburger{
    display:none;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    z-index: 1000;
    
    margin-top: 10%;
}

footer div:nth-child(2) ul {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.list-view {
    display:flex;
    flex-direction: column;
    gap:10px;
}
.list-view .member-card{
    flex-direction: row;
}
.list-view .member-card img{
    width:20%;
    height: 10%;
}

.member-card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.member-card img {
    width: 50%;
    height: 30%;
    border-radius: 8px;
}

.member-card h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.member-card p {
    margin: 0.5rem 0;
}

button {
    padding: 0.5rem 1rem;
    margin: 1rem;
    cursor: pointer;

}
main{
    margin:3%;
    padding-top: 5%;
}
.buttons1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hero{
    align-items: center;
    width:98%;
    height: 40%;
}
.card {
    width: 50%;
    height: 420px;
    /*padding: 20px;*/
    background-color: #b0a9a9f5;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   /* display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    
}
.card h2{
    background-color: var(--primary-color);
    width: 100%;
    padding-top: 0%;
   /* top:0%;*/
    margin-top: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.innercard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap:10%;
}
.hero{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hero";
    
    
}
.hero img{
    grid-area: hero;
    width: 100%;
}
.hero a{
    grid-area: hero;
    text-decoration: none;
    position: relative;
    top: 10px;
    left:20px;    
}
.cardp{
    text-align: left;
    padding-left: 10px;
    padding-right: 5px;
}
.hero a p{
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust width as needed */
}

.hero a p:hover{
     background-color: var(--hover-color);
     color:white;
}
.spotlight-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}

.spotlight-card {
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.spotlight-card img {
    width: 20%;
    height: auto;
}
.spotlight-card div{
    justify-content: left;
    text-align: left;
}
/*.pics img{
    width: 400px;
    padding: 10px;
}*/
.discover{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;

}

.pics{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.pics figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pics figure img{
    width: 500px;
}

.pics figure img:hover{
    width: 550px;
}

.content{
    grid-column: 1 / 2 ;
    display: flex;
   flex-direction: column;
    overflow-y: auto;
    height: 100%;
    align-items: center;
    top: 0%;
    background-color: #656262;
    
    
}


.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 90px ;
}
.data{
    border-radius: 2%;
    background-color:#f1eeee;
    border: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    padding-bottom: 10%;
    margin-bottom: 90px;
    
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* You can define a specific width if needed */
    height: auto; /* Allow content to dictate height */
    min-height: 500px; /* Ensures a minimum height to prevent shifts */
    margin-bottom: 200px;
}
.data p{
    padding: 5%;
}
.data img{
    width: 300px;
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.month h3{
    color: white;
}

.days-of-week {
    /*display: grid;
    grid-template-columns: repeat(7, 1fr);*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 2px;
    font-weight: bold;
    width: 90%;

}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
}

.days div {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fafafa;
}

.days div:hover {
    background-color: #eee;
    cursor: pointer;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

@media only screen and (max-width:765px){
    .header2 nav{
        display:none;
        
    }
    .header1{
        margin-right: 15%;
        
    }
    /*.buttons1{
        display: none;}*/
    
      
      .menu li {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
        padding:15px
      }
      
      .menu li:hover {
        background-color:var(--hover-color);
      }
      
    
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40%;
        left:60%;
        width: 50%;
        background-color: var(--primary-color);
        
        box-sizing: border-box;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100%);
        margin-top: 5%;
        }
    
    .menu.show {
        transform: translateY(0);
        display: flex;
    
        
         
        }
    .menu.show .card1{
        padding-top: 10%;
    }
    
    .hamburger {
        display: block;
        margin-right: 2%;
        }
    
    .hamburger.active  {
        display: none;
        
        }
    .hamburger.active main{
        padding-top: 30%;
    }
    
    .close-icon.active  {
        display: block; 
        }
    
    .hamburger img:hover{
        background-color: var(--hover-color) ;
        padding:10px;
    
    }
    .close-icon img{
        width: 50px;
        
    }
    .close-icon img:hover{
        background-color: var(--hover-color);
    }
    main{
        padding-top: 20%;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        
    }
    footer div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    footer div p{
       
        margin: 0%;
    }
    footer div h3{
        margin:0%;
        padding-top: 10%;
    }
    .section1{
        display: flex;
        flex-direction: column;
        
        
    }
    .card{
        padding-bottom: 10%;
        width: 80%;
        margin-bottom: 10%;

        
    }
    body{
        width: 100%;
    }
    .discover{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr auto;
        width: 100%;
    }

    .content{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        height: 100%;
    }

    .pics{
        grid-row: 2 / 3;
        grid-column: 1 / 2; 
    }
    .pics figure img{
        width: 300px;
    }
    .pics figure img:hover{
        width: 300px;
    }
    .days-of-week{
        width:80%;
    }


    
}













