:root {
    --primary-color:rgb(2, 157, 134);
    --secondary-color: rgb(94, 239, 217);
    --hover-color: #444;
    
    --primary-text: 'Arial', sans-serif;
    --heading-font: 'Georgia', serif;
    
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 24px;
  }




body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    position:fixed;
    width: 100%;
    
}

.header1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left:3%;
}

.header1 div h2 {
    margin-bottom: 2%;
}

.header1 div p {
    margin-top: 0;
}

nav{
    
    margin-right: 10%;
}
nav ul li {
    list-style-type: none;
    padding: 3%;
}
nav ul li:hover{
    background-color: var(--hover-color);
}

nav ul li a {
    text-decoration: none;
    color: white;
}
.header2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
}
.header2 img{
    padding-left: 10%;
}
.menu{
    display: none;
}
.hamburger{
    display:none;
}




footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    bottom: 0;
    margin-top: 10%;
}

footer div:nth-child(2) ul {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.list-view {
    display: block;
}

.member-card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.member-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.member-card h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.member-card p {
    margin: 0.5rem 0;
}

button {
    padding: 0.5rem 1rem;
    margin: 1rem;
    cursor: pointer;

}
main{
    margin:3%;
    padding-top: 5%;
}
.buttons1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width:765px){
    .header2 nav{
        display:none;
    }
    .header1{
        margin-right: 15%;
        
    }
    .buttons1{
        display: none;}
    
      
      .menu li {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
        padding:15px
      }
      
      .menu li:hover {
        background-color:var(--hover-color);
      }
      
    
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0;
        width: 50%;
        background-color: var(--primary-color);
        padding: 20px;
        box-sizing: border-box;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100%);
        margin-top: 5%;
        }
    
    .menu.show {
        transform: translateY(0);
        display: flex;
    
        
         
        }
    .menu.show .card1{
        padding-top: 10%;
    }
    
    .hamburger {
        display: block;
        margin-right: 2%;
        }
    
    .hamburger.active  {
        display: none;
        
        }
    .hamburger.active main{
        padding-top: 30%;
    }
    
    .close-icon.active  {
        display: block; 
        }
    
    .hamburger img:hover{
        background-color: var(--hover-color) ;
        padding:10px;
    
    }
    .close-icon img{
        width: 50px;
        
    }
    .close-icon img:hover{
        background-color: var(--hover-color);
    }
    main{
        padding-top: 20%;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    footer div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    footer div p{
       
        margin: 0%;
    }
    footer div h3{
        margin:0%
    }
    


    
}













